<style>
    body{
    background-repeat: no-repeat!important;
    background-size:cover!important;
    background-image: url('/img/site/bbu2.png')!important;
    }
    .vh-100 {
        min-height: 100vh;
    }
    .card {
        background-color: rgb(0, 0, 0,0.7)!important;
        border-radius: 20px;
        width: 30%!important;
        background: rgba(168, 168, 168, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(59, 59, 59, 0.3)!important;
        backdrop-filter: blur(2.6px);
        border: 2px solid rgb(255, 255, 255, 0.1)!important;
        -webkit-backdrop-filter: blur(2.6px);
    }
    .card-body {
        padding: 3.5rem 1.5rem !important;
        border-radius: 20px;
        
    }
    .btn-success {
        border-radius: 20px;
    }
    .form-control {
        border: 1px groove #D0FFC8;
    }
    .form-label {
        font-size: 1.2rem;
    }
    @media (min-width: 576px) {
        .card {
            width: 30%;
        }
    }
</style>

<%- include('./includes/head') %>

<!-- Content -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
            <form action="/admin-login" method="POST">
                <div class="text-center mb-3">
                    <img src="/img/site/logo.png" class="img-fluid w-25" alt="Image" />
                    <p class="mt-3 mb-0 fw-bold" style="font-size: 3vh;color:#FFF">BAKI ADMIN UNIVERSITETI</p>
                </div>
                <br>
                <div class="mb-3">
                    <label for="basic-default-username" class="form-label" style="color: #FFF;">İstifadəçi adı</label>
                    <input type="text" name="username" class="form-control" id="basic-default-username" style="color: #FFF;background-color: #000000;font-size: large;" placeholder="İstifadəçi adını yazın" />
                </div>
                <div class="mb-3">
                    <label for="basic-default-password" class="form-label"style="color: #FFF;" >Şifrə</label>
                    <input type="password" name="password" class="form-control" id="basic-default-password" style="color: #FFF; background-color: #000000;font-size: large;" placeholder="Şifrənizi yazın" />
                </div>
                <br>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Content -->


<%- include('./includes/foot') %>
